/*// Styles de base //*/
:root {
  --font-default: "DM Sans", Arial, Helvetica, sans-serif;
  --font-slab: var(--font-default);
  --modal-duration: 0.8s;
  --primary-color: #FE142F;
  --secondary-color: #232323;
  --tertiary-color: #279E7A;
  --data-error-border-color: #FF4E60;
  --text-color: #FFFFFF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Landing Page */

/*// Style général //*/
body {
  margin: 0 auto;
  flex-direction: column;
  font-family: var(--font-default);
  font-size: 18px;
  max-width: 100%;
  text-align: center;
  width: 100%;
}

p {
  margin-bottom: 0;
  padding: 0.5vw;

}

img {
  padding-right: 1rem;
}

ul {
  position: relative;
  display: flex;
  align-items: flex-start;
  left: 28%;
}

li {
  list-style: none;
}

/*// Styles des classes //*/

.header {

  margin: 3.5%;
  width: 79.5%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 83%;
  position: relative;
  left: 78px;
  top: 3px;
}

.header-logo {
  position: relative;
  left: 16px;

}

.header a {
  float: left;
  display: block;
  color: var(--secondary-color);
  text-align: center;
  padding: 12px 12px;
  margin: 5px;
  text-decoration: none;
  font-size: 18px;
  font-family: Roboto, sans-serif;
}

.header a:hover {
  background-color: var(--primary-color);
  color: #ffffff;
  border-radius: 15px;
}

.header a.active {
  text-decoration: underline;
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 15px;
}

.header .icon {
  display: block;
}

.fa {
  color: var(--primary-color);
  display: block;
  position: absolute;
  width: 19px;
  height: 13.5px;
  top: 19px;
  left: 265px;
}

.fa-bars:before {
  color: var(--primary-color);
  display: none;
  position: absolute;
}

#menu-hamburger {
  border: none;
  display: none;
}



/*///// Style Main Content //////*/

main {
  font-size: 130%;
  font-weight: bolder;
  color: var(--secondary-color);
  margin: 2% 9%;
  border-radius: 2rem;
  text-align: justify;
  margin: 0% 10%;
  width: 77%;

}

.hero-section {
  border-radius: 10px;
  display: flex;
  box-shadow: 0 2px 7px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

.hero-content {
  padding: 51px 67px;
  background: #232323;
  color: #fff;
  position: relative;
  text-align: left;
  min-width: 424px;
  flex: 1;
  border-radius: 10px;

}

.hero-content::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #232323;
  position: absolute;
  right: -80px;
  top: 0;
}

.hero-content>* {
  position: relative;
  z-index: 1;
}

.hero-headline {
  font-size: 6rem;
  font-weight: normal;
  white-space: nowrap;
  margin-left: -20px;
}

.hero-text {
  width: 114%;
  font-weight: normal;
  margin-top: 17px;
  padding: 0;
  margin-left: -20px;
}



.hero-img {
  flex: 2;
  border-radius: 10px;
}

.hero-img img {
  width: 100%;
  height: 100%;
  display: block;
  padding: 0;
  position: relative;
  left: 5%;
  border-radius: 0 10px 10px 0;
}

.hero-section>.button-signup {
  display: none;
}

/* Styles boutton inscription */
.button-signup {
  outline: none;
  text-transform: capitalize;
  font-size: 1.3rem;
  padding: 15px 23px;
  margin-left: -20px;
  margin-top: 59px;
  background: var(--primary-color);
  display: block;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
  border: 0;
}


.button-signup:hover {
  background: #3876ac;
}

/* Style MODAL FORM */

.background {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(26, 39, 156, 0.4);
}

.content {
  margin: 5% auto;
  width: 100%;
  max-width: 500px;
  animation-name: modalopen;
  animation-duration: var(--modal-duration);
  background: var(--secondary-color);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  color: var(--text-color);
  padding-top: 10px;
}

.modal-body {
  padding: 2% 8%;
  margin: 10% auto;
}

.thanks-modal-block {
  display: none;
  font-weight: 400;
  font-size: 36px;
  line-height: 142.6%;
  height: 718px;

}

.thanks-modal-text {
  position: absolute;
  top: 261px;
  height: 115px;
  width: 100%;
  left: 0%;
  right: 0%;
  text-align: center;
  font-size: 30px;
}

.button-submit,
.btn-close-thanks-modal {
  background: var(--primary-color);
  margin-top: 0.5em;
  padding: 3% 12% 3% 12%;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  left: 25%;
  border: 0;
  height: 40px;
  width: 186px;
  border-radius: 8px;
}


label {
  font-family: var(--font-default);
  font-size: 14px;
  font-weight: normal;
  display: inline-block;
  margin-bottom: 11px;

}
.text-label{
  font-size: 16px;
}

input {
  padding: 8px;
  border: 0.8px solid #ccc;
  outline: none;
}

.text-control {
  margin: 0;
  padding: 8px;
  width: 100%;
  border-radius: 8px;
  font-size: 20px;
  height: 48px;
}

#msgAlert {
  display: none;
}

.form-data[data-error]::after {
  content: attr(data-error);
  font-size: xx-small;
  color: var(--primary-color);
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
  text-align: left;
  line-height: 0.3;
  opacity: 0;
  transition: 0.3s;
}

.form-data[data-error-visible="true"]::after {
  opacity: 1;
  line-height: 130%;
}

.form-data[data-error-visible="true"] .text-control {
  border: 2px solid var(--data-error-border-color);
}

/* 
input[data-error]::after {
    content: attr(data-error);
    font-size: 0.4em;
    color: red;
} */
.checkbox-label,
.checkbox2-label {
  position: relative;
  margin-left: 38px;
  font-size: 12px;
  font-weight: normal;
}

.checkbox-label .checkbox-icon,
.checkbox2-label .checkbox-icon {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid var(--text-color);
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: -30px;
  top: -1px;
  transition: 0.3s;
}

.checkbox-icon:hover {
  border-color: var(--tertiary-color);
}

.checkbox-label .checkbox-icon::after,
.checkbox2-label .checkbox-icon::after {
  content: "";
  width: 13px;
  height: 13px;
  background-color: var(--tertiary-color);
  border-radius: 50%;
  text-indent: 29px;
  white-space: nowrap;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  opacity: 0;
}

.checkbox-input {
  display: none;
}

.checkbox-input:checked+.checkbox-label .checkbox-icon::after,
.checkbox-input:checked+.checkbox2-label .checkbox-icon::after {
  opacity: 1;

}

.checkbox-input:checked+.checkbox2-label .checkbox-icon {
  background: var(--tertiary-color);

}

.checkbox2-label .checkbox-icon {
  border-radius: 4px;
  border: 0;
  background: #c4c4c4;
}

.checkbox2-label .checkbox-icon::after {
  width: 7px;
  height: 4px;
  border-radius: 2px;
  background: transparent;
  border: 2px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
  transform: rotate(-55deg);
  left: 21%;
  top: 19%;

}

.close {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}

.close:before,
.close:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}

.close:before {
  transform: rotate(45deg);
}

.close:after {
  transform: rotate(-45deg);
}

.close-thanks-modal {
  position: absolute;
  right: 15px;
  top: 15px;
  width: 32px;
  height: 32px;
  opacity: 1;
  cursor: pointer;
  transform: scale(0.7);
}

.close-thanks-modal:before,
.close-thanks-modal:after {
  position: absolute;
  left: 15px;
  content: " ";
  height: 33px;
  width: 3px;
  background-color: #fff;
}

.close-thanks-modal:before {
  transform: rotate(45deg);
}

.close-thanks-modal:after {
  transform: rotate(-45deg);
}

.btn-close-thanks-modal {
  top: 668px;

}


/* custom select styles */
/*
.custom-select {
  position: relative;
  font-family: Arial;
  font-size: 1.1rem;
  font-weight: normal;
}

.custom-select select {
  display: none;
}

.select-selected {
  background-color: #fff;
}

/* Style the arrow inside the select element: */
/*
.select-selected:after {
  position: absolute;
  content: "";
  top: 10px;
  right: 13px;
  width: 11px;
  height: 11px;
  border: 3px solid transparent;
  border-bottom-color: #f00;
  border-left-color: #f00;
  transform: rotate(-48deg);
  border-radius: 5px 0 5px 0;
}

/* Point the arrow upwards when the select box is open (active): */
/* 
.select-selected.select-arrow-active:after {
  transform: rotate(135deg);
  top: 13px;
}

.select-items div,
.select-selected {
  color: #000;
  padding: 11px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  border-radius: 8px;
  height: 48px;
} */

/* Style items (options): */
/* 
.select-items {
  position: absolute;
  background-color: #fff;
  top: 89%;
  left: 0;
  right: 0;
  z-index: 99;
} */

/* Hide the items when the select box is closed: */

/* .select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
} */

/* custom select end */
/* 
.text-label {
  font-weight: normal;
  font-size: 16px;
} 


.smFont {
  font-size: 16px;
} */


/* Style footer */

footer {
  position: absolute;
  left: 5%;
}

.copyrights {
  color: #fe142f;
  padding: 0;
  font-size: 1rem;
  margin: 60px 0 30px;
  font-weight: bolder;
}

p.alerte {
  font-size: small;
}

/*/////////////////////////////////////////////////////////////////////////////////////////*/
/*/////////////////////////////////// MEDIA QUERIES///////////////////////////////////////*/


/*///// Desktop L //////*/
@media screen and (min-width: 2560px) {
  body {
    font-size: 28px;
  }

  img {
    width: 150%;
    padding-right: 5rem;
  }

  .navbar {
    width: 100%;
    height: 100px;
  }

  .header {
    width: 84.5%;
  }

  .header-logo {
    left: 3%;
  }

  .header a {
    font-size: 30px;
  }

  ul {
    left: 1%;
  }

  main {
    margin: 2% 9%;
  }

  .hero-content {
    padding: 67px 93px;
  }

  .hero-headline {
    font-size: 166px;
  }

  .hero-text {
    margin-top: 23%;
  }

  .button-signup {
    font-size: 2.3rem;
    margin-top: 17%;
  }

  .copyrights {
    font-size: 2rem;
  }

  .content {

    max-width: 1000px;

  }

  label {
    font-size: 25px;
  }

  .text-label {
    font-size: 32px;
  }

  .checkbox-label,
  .checkbox2-label {
    margin-left: 50px;
  }

  .checkbox-label {
    font-size: 30px;
  }

  .checkbox-label .checkbox-icon {
    width: 30px;
    height: 30px;
    left: -39px;
    top: 2px;
  }

  .checkbox-label .checkbox-icon::after {
    width: 20px;
    height: 20px;
  }

  .checkbox2-label {
    font-size: 26px;
  }

  .checkbox2-label .checkbox-icon {
    width: 25px;
    height: 25px;
    left: -35px;
    top: 4px;
  }

  .checkbox2-label .checkbox-icon::after {
    width: 12px;
    height: 6px;
  }

  .text-control {
    height: 80px;
    font-size: 28px;
  }

  .button-submit {
    margin-top: 2.5em;
    padding: 3% 0% 3% 0%;
    font-size: 25px;
    height: 80px;
    left: 36%;
  }

  .form-data[data-error]::after {
    font-size: medium;
  }

  p.alerte {
    font-size: 18px;
  }

  .thanks-modal-text {
    font-size: 48px;
    top: 36%;
  }

  .btn-close-thanks-modal {
    padding: 2% 5% 6% 5%;
    font-size: 29px;
    left: 37%;
    width: 225px;
    top: 94%;
  }

  .thanks-modal-block {
    height: 1140px;
  }
}

/*///// Desktop S //////*/
@media screen and (min-width:1024px) and (max-width:1439px) {
  img {
    width: 77%;
  }

  .header {
    width: 82.5%;
  }

  .header-logo {
    left: -16px;
  }

  .navbar {
    width: 100%;
    left: 52px;
  }

  ul {
    left: 6%;
  }

  .header a {
    font-size: 70%;
  }

  main {
    font-size: 92%;
    width: 80%;
  }

  .hero-content {
    padding: 51px 62px;
    min-width: 30%;
  }

  .hero-headline {
    font-size: 73px;
  }

  .hero-text {
    font-size: 100%;
  }

  .button-signup {
    font-size: 1em;
  }

  .content {
    max-width: 470px;
  }

  .copyrights {
    font-size: 0.7em;
  }

  .checkbox-label,
  .checkbox2-label {
    margin-left: 33px;
  }

  .text-label {
    font-size: 15px;
  }
}
/*///// Mobile XL ou Tablette //////*/
@media screen and (max-width: 800px) {
  .header-logo {
    position: relative;
    left: 10px;
  }

  #menu-hamburger {
    display: block;
  }

  .header {
    width: 78.5%;
    margin-left: 13%;
    margin-bottom: 35%;
  }

  .header a {
    display: block;
  }

  .header a.icon {
    float: right;
    display: none;
  }

  .header.responsive a {
    position: relative;
    float: none;
    display: none;
    text-align: left;
  }

  .header.responsive .icon {
    right: 0;
    top: 0;
    display: block;

  }

  .fa.fa-bars {
    position: absolute;
    left: 93%;
    top: 10px;
    width: 22px;
    height: 24.5px;
    font-size: 25px;
  }

  .fa.fa-bars:before {
    position: absolute;
    color: #FF001B;
    display: block;
  }

  .navbar {
    width: 100%;
    left: 0;

  }

  ul {
    flex-direction: column;
    top: 300%;
    left: 8%;
    z-index: 1;
  }

  .responsive {
    margin-bottom: 25px;

  }

  .hero-section {
    display: block;
    box-shadow: unset;
  }

  .hero-content {
    background: #fff;
    color: #000;
    padding: 0px;
  }

  .hero-content::after {
    content: unset;
  }

  .hero-content .button-signup {
    display: none;
  }

  .hero-headline {
    font-size: 4.2rem;
    white-space: normal;
    margin-left: 30px;
  }

  .hero-text {
    width: 88%;
    font-size: 1.3rem;
    margin: 7% 0 10% 6%;
  }

  .hero-img img {
    border-radius: 10px;
    margin-top: 36px;
  }

  .hero-section>.button-signup {
    display: block;
    margin: 32px auto 10px;
    padding: 12px 35px;
  }

  .copyrights {
    margin-top: 10%;
    text-align: center;
    margin-left: 70%;
    width: 100%;
  }

  .checkbox-label,
  .checkbox2-label {
    margin-left: 33px;
  }

  .text-label {
    font-size: 16px
  }

  .text-control {
    font-size: 17px;
  }

  .button-submit,
  .btn-close-thanks-modal {
    padding: 2% 0% 2% 0%;
    left: 30%;
    width: 130px;

  }
}

/*///// Mobile L //////*/
@media screen and (max-width: 540px) {
  img {
    width: 100%;
  }

  .header {
    width: 95%;
    margin-left: 4%;
    margin-bottom: 45%;
  }

  .responsive {
    margin-bottom: 0;
  }

  .navbar {
    width: 100%;
  }

  .header-logo {
    left: 0;
    width: 130px;
    height: 30px;
    margin: 3%;
  }

  .header a {
    display: block;
    font-size: 15px;
  }

  .header.responsive a {
    float: none;
    display: none;
    text-align: left;
  }

  .header a.icon {
    float: right;
    display: block;
    margin-top: -10px;
    position: absolute;
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 13.5px;
    width: 19px;
    left: 365px;
    top: 35px;

  }

  .fa.fa-bars {
    top: 10px;
    font-size: 17px;
    left: 90%;
  }

  ul {
    flex-direction: column;
    top: 215%;
    left: 3%;
  }

  main {
    padding-left: 1vw;
    padding-right: 1vw;
    width: 100%;
    margin: 0;
  }

  .hero-content {
    min-width: 100%;

  }

  .hero-headline {
    font-size: 185%;
    margin-left: 5%;
    width: 95%;

  }

  .hero-text {
    width: 85%;
    font-size: 58%;
    margin: 7% 0 10% 6%;
  }

  .hero-img {
    margin: 0% 6%;
  }

  .hero-img img {
    left: 0;
  }

  .button-signup {
    font-size: 1rem;
  }

  .content {

    width: 100%;
  }

  label {
    font-size: 12px;
  }

  p {
    font-size: 12px;
  }

  .checkbox-label,
  .checkbox2-label {
    margin-left: 31px;
  }

  .checkbox-label .checkbox-icon,
  .checkbox2-label .checkbox-icon {
    left: -25px
  }

  .copyrights {
    margin-left: 31%;
    width: 100%;
    font-size: 14px;
  }

  .thanks-modal-text {
    font-size: 25px;
    line-height: 145%;
  }

  .text-control {
    font-size: 15px;
  }

  .button-submit,
  .btn-close-thanks-modal {
    padding: 2% 0% 2% 0%;
    left: 30%;
    width: 130px;

  }

  p.alerte {
    font-size: 9px;
  }
}
/*///// Mobile M //////*/
@media screen and (max-width: 400px) {
  .header {
    margin-bottom: 45%;
  }
  .header-logo{
    left: -3px;
  }
  .header a {
    font-size: 14px;
  }

  .responsive {
    margin-bottom: 0;
  }

  .fa.fa-bars {
    top: 10px;
    font-size: 16px;
  }

  ul {
    top: 210%;
    left: 0;
  }

  main {
    width: 95%;
  }

  .hero-headline {
    font-size: 170%;
    margin-left: 5%;
    width: 95%;
  }

  .hero-text {
    width: 89%;
    font-size: 53%;
    margin: 7% 0 10% 6%;
  }

  .hero-img {
    margin: 0 3%;
  }

  .hero-img img {
    left: 3%;
  }

  .hero-section>.button-signup {
    margin-left: 31%;
  }

  label {
    font-size: 11px;
  }

  .checkbox-label,
  .checkbox2-label {

    margin-left: 27px;
    font-size: 10px;

  }

  .checkbox-label .checkbox-icon,
  .checkbox2-label .checkbox-icon {
    width: 15px;
    height: 15px;
    left: -20px;
  }

  .checkbox-label .checkbox-icon::after,
  .checkbox-icon::after {
    width: 10px;
    height: 10px;
  }

  .checkbox2-label::after {
    width: 4px;
    height: 4px;
  }

  .copyrights {
    margin-left: 30%;
    width: 100%;
    font-size: 13px;
  }

  .text-control {
    font-size: 13px;
  }

  .button-submit,
  .btn-close-thanks-modal {
    padding: 2% 0% 2% 0%;
    left: 30%;
    width: 130px;

  }

  p.alerte {
    font-size: 9px;
  }
}
/*///// Mobile S //////*/
@media screen and (max-width: 340px) {
  .header {
    margin-bottom: 55%;
  }

  .header a {
    font-size: 12px;

  }

  .responsive {
    margin-bottom: 0;
  }

  ul {
    top: 200%;
    left: -10px;
  }

  .hero-headline {
    width: 95%;
    margin-left: 6%;
    font-size: 140%;
  }

  .hero-text {
    width: 87%;
    font-size: 44%;
  }

  label {
    font-size: 9px;
  }

  p {
    font-size: 9px;
  }

  .checkbox-label .checkbox-icon::after,
  .checkbox-icon::after {
    width: 8px;
    height: 8px;
  }

  .checkbox-label,
  .checkbox2-label {
    margin-left: 22px;
    font-size: 9px;
  }

  .checkbox-label .checkbox-icon,
  .checkbox2-label .checkbox-icon {
    width: 13px;
    height: 13px;
    left: -18px;
  }

  .checkbox2-label .checkbox-icon::after {
    width: 4px;
    height: 3px;
  }

  .copyrights {
    margin-left: 40%;
    width: 100%;
    font-size: 10px;
  }

  .btn-close-thanks-modal {
    width: 50%;
    left: 27%;
  }

  .text-control {
    font-size: 10px;
    height: 37px;
  }

  .button-submit {
    padding: 2% 0% 2% 0%;
    font-size: 12px;
    left: 30%;
    height: 40px;
    width: 100px;

  }

  p.alerte {
    font-size: 8px;
  }
}

/*/////////////////////////////////////////////////////////////////////////////////////////*/
/*//////////////////////////Animation de la modale////////////////////////////////////////*/

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }

  to {
    opacity: 1;
  }
};